.header {
  display: flex;
  justify-content: space-between;
  padding: 1.2em 0;
}
.header .header_content {
  display: flex;
  justify-content: space-between;
}
.header .header-logo {
  background: url("../images/logo.svg") no-repeat center;
  background-size: contain;
  display: inline-flex;
  height: 40px;
  width: 150px;
  align-self: center;
}
.header .button {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header .button {
    display: inline;
    width: 150px;
    height: 40px;
    align-self: center;
  }

  .header_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.menu {
  display: none;
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: var(--grayishBlue);
  padding: 0 1em;
}

.menu_button {
  width: 40px;
  height: 40px;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}

@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
  }

  .menu_button {
    display: none;
  }
}
.hero {
  padding-bottom: 2em;
  text-align: center;
}
.hero .hero_image {
  height: 300px;
  background: url("../images/image-mockups.png") center bottom no-repeat, url("../images/bg-intro-mobile.svg") center no-repeat;
  background-size: 345px, cover;
  margin-bottom: 2em;
}
.hero .content {
  margin-bottom: 2.5em;
}
.hero .content h1 {
  text-align: center;
}
.hero .content button {
  margin-top: 4em;
}

@media screen and (min-width: 1024px) {
  .hero .u-wrapper {
    padding: 0;
    display: grid;
    grid-template-areas: "content image";
    grid-template-columns: 480px 1fr;
  }
  .hero .u-wrapper .hero_image {
    grid-area: image;
    min-height: inherit;
    height: 600px;
    background: url("../images/image-mockups.png") right -110px top -100px no-repeat, url("../images/bg-intro-desktop.svg") right -180px top -140px no-repeat;
    background-size: 600px, cover;
    margin-bottom: 0;
  }
  .hero .u-wrapper .content {
    padding-left: 1.5em;
    grid-area: content;
    position: relative;
    top: 120px;
    text-align: left;
  }
  .hero .u-wrapper .content h1 {
    text-align: left;
  }
}
.why {
  background-color: var(--veryLightGray);
  padding-bottom: 6em;
  text-align: center;
}

.content {
  padding-bottom: 2em;
}

.why__item p {
  margin-bottom: 2.5em;
}

@media screen and (min-width: 768px) {
  .why {
    text-align: left;
  }
  .why .why_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
  }
}
.lastArticles {
  background-color: var(--veryLightGray);
  text-align: justify;
  padding-bottom: 4em;
}
.lastArticles .title__h1 {
  text-align: center;
  padding-bottom: 1em;
}
.lastArticles .lastArticles__item {
  border-radius: 0.5em;
  background-color: var(--white);
  padding-bottom: 3em;
  overflow: hidden;
}
.lastArticles .lastArticles__item img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  padding-bottom: 1.2em;
}
.lastArticles .lastArticles__item small {
  font-size: 0.6em;
  padding-top: 1em;
  margin: 0 1em;
}
.lastArticles .lastArticles__item h3 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0 1em;
}
.lastArticles .lastArticles__item p {
  margin: 0 1em;
  font-size: 0.7em;
}
@media screen and (min-width: 768px) {
  .lastArticles .lastArticles_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
  }
}

.footer {
  background: var(--darkBlue);
  color: var(--white);
  text-align: center;
  padding: 2em 0;
}
.footer__logo {
  display: block;
  margin: auto auto 1.5em;
}
.footer__social {
  display: flex;
  justify-content: center;
}
.footer .icon__facebook {
  width: 30px;
  height: 30px;
  padding-right: 0.7em;
  display: inline-flex;
  background-repeat: no-repeat;
}
.footer .icon__youtube {
  width: 30px;
  height: 30px;
  padding-right: 0.7em;
  display: inline-flex;
  background-repeat: no-repeat;
}
.footer .icon__twitter {
  width: 30px;
  height: 30px;
  padding-right: 0.7em;
  display: inline-flex;
  background-repeat: no-repeat;
}
.footer .icon__pinterest {
  width: 30px;
  height: 30px;
  padding-right: 0.7em;
  display: inline-flex;
  background-repeat: no-repeat;
}
.footer .icon__instagram {
  width: 30px;
  height: 30px;
  padding-right: 0.7em;
  display: inline-flex;
  background-repeat: no-repeat;
}
.footer a {
  color: var(--veryLightGray);
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
}
.footer button {
  margin: auto;
  margin-top: 1em;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer .u-wrapper {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 280px 1fr 400px;
    grid-template-areas: "logo links  button" "social  links u-p";
  }
  .footer__logo {
    grid-area: logo;
    margin: initial;
  }
  .footer__social {
    grid-area: social;
    justify-content: initial;
  }
  .footer__links {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
  .footer__button {
    grid-area: button;
    text-align: right;
  }
  .footer .u-p {
    grid-area: u-p;
    text-align: right;
  }
}

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  font-size: 18px;
}

body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
}

.u-wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0 1.9em;
  width: 100%;
  box-sizing: border-box;
}

.title__h1 {
  margin: 0;
  color: var(--darkBlue);
  font-size: 2em;
  font-weight: 400;
}

.u-p {
  color: var(--grayishBlue);
  font-size: 0.8em;
  line-height: 1.7em;
}

.h2 {
  color: black;
  font-weight: 300;
  font-size: 1.1em;
}

.h3 {
  color: black;
  font-weight: 300;
  font-size: 0.9em;
}

.button {
  padding: 0.8em 2em;
  background-image: linear-gradient(to right, var(--limeGreen) 0%, var(--brightCyan) 100%);
  border: none;
  border-radius: 1.5em;
  color: var(--white);
  font-size: 0.7em;
}

/*# sourceMappingURL=estilos.css.map */
