.header {
  display: flex;
  justify-content: space-between;
  padding: 1.2em 1.4em;
}

  .header-logo {
    background: url('../images/logo.svg') no-repeat center;
    background-size: contain;
    display: inline-flex;
    height: 40px;
    width: 150px;


  }








