.hero{
  padding-bottom: 6em;
  text-align: center;

  .hero_image{
    height: 300px;
    background:  url("../images/image-mockups.png") center bottom no-repeat, url("../images/bg-intro-mobile.svg") center no-repeat;
    background-size: 345px, cover; // primera imagen un valor y la segunda que cover
    margin-bottom: 2em;
  }

  .content {
    text-align: justify;
    margin-bottom: 2.5em;
  }

}
