.lastArticles {
  background-color: var(--veryLightGray);
  text-align: justify;
  padding-bottom: 4em;

  .title__h1{
    text-align: center;
    padding-bottom: 1em;
  }

  .lastArticles__item{
    border-radius: .5em ;
    background-color: var(--white);
    padding-bottom: 3em;
    overflow: hidden; // oculto las puntas de las imagenes
    img {
      height: 200px;
      width: 100%;
      object-fit: cover; // para q la imagen no estire
      padding-bottom: 1.2em;


    }

    small {
      font-size: 0.6em;
      padding-top: 1em ;
      margin: 0 1em;
    }
    h3{
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      margin: 0 1em;
    }
    p {
      margin: 0 1em;
      font-size: 0.7em;
    }



  }

}
