.menu {

  display: none;
  list-style: none;
  padding: 0;


  a {
    text-decoration: none;
    color: var(--grayishBlue);
    padding: 0 1em;
  }

  &__checkbox{  // elemento checkbox
    display: none;
    &:checked{  //atributo
      & ~ .menu_button{
        background: url("../images/icon-close.svg") center no-repeat;
      }




      & ~ .menu{   // hermano
        display: block;  // muestra
        position: absolute;
        top: 100%;
        padding: 1em;
        left: 1.9em;
        right: 1.9em;
        height: 100vh;
        background: linear-gradient(to bottom, var(--darkBlue) 0%, transparent 100%);
        .menu__items{
          &:first-child a{
            padding-top: 2em;
            border-radius: .5em  .5em 0 0;
          }
          &:last-child a{
            padding-bottom: 2em;
            border-radius: 0 0 .5em .5em;
          }
        }


        a{
          background: white;
          padding: .3em 1em;
          display: block;
          text-align: center;

          &:hover{
            background:  var(--darkBlue);
            color: white;
            font-weight: bold;
          }
        }


      }

    }
  }




}



  .menu_button {

    width: 40px;
    height: 40px;

    background: url("../images/icon-hamburger.svg") no-repeat center;

  }



  @media screen and (min-width: 1024px) {
.menu{
  display: flex;
}
  .menu_button {
    display: none;
  }
}





