.menu {

  display: none;
  list-style: none;

  a {
    text-decoration: none;
    color: var(--grayishBlue);
    padding: 0 1em;
  }
}

  .menu_button {

    width: 40px;
    height: 40px;

    background: url("../images/icon-hamburger.svg") no-repeat center;

  }

  @media screen and (min-width: 1024px) {
.menu{
  display: flex;
}
  .menu_button {
    display: none;
  }
}





